.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;    
    border: 10px solid #7e7f83 ;
    border-top: 10px solid #34312d;
    transition: all;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}