#main{
    color: rgb(109, 1, 124);
    /* height: 350px; */
    width: 300px;
    margin-left: 500px;
    /* margin-top: 30px; */
    background-color: rgb(212, 240, 240);
}

.lights{
    height: 120px;
    align-content: center;
    padding-left: 60px;
    border-radius: 50%;
    margin: 70px;
}
#Red{
    background-color: red;
}
#Yellow{
    background-color: yellow;
}
#Green{
    background-color: green;
}