div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px black solid;
    position: relative;
    top: 100px;
    left: 100px;
    transition: all 1s ease-in;
}
div:hover {
    background-color:chartreuse;
    /* rotate:  45deg; */
    font-size:xx-large;
    color: aliceblue;
    /* transform: scale(1.5,2); */
    /* transform: translateY(200px); */
    
}