*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* NavBox1 Amazon logo */
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo {
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* NavBox 2 deliver to address */
.add-first {
    color:  #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.address-icon {
    display: flex;
    align-items: center;
}

/* NavBox3 Search area */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 174, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* NavBox 4 Sign In */
span {
    font-size: 0.7rem;
}

.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}

/* NavBox 5 Cart */
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}


/* Panel */
.panel {
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p {
    display: inline;
    margin-left: 10px;
}
.panel-options {
    width: 75%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
}

/* Hero section */

.hero-sec {
    background-image: url("hero_image.jpg");
    height: 600px;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 25px;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
}

.hero-msg a {
    color: #007185;
}