.ContentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content {
    height: 480px;
}
#div1 {
    background-color: rgba(0, 255, 0,0.5);
}

#div2 {
    background-color: rgba(255, 0, 0,0.5);
}

#div3 {
    background-color: rgba(0, 0, 255,0.5);
}

* {
    padding: 0;
    margin: 0;
}

#nav-bar {
    height: 60px;
    background-color: #0f1111;
}
a{
    margin-right: 190px;
    text-decoration: none;
    text-decoration: none;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
button{
    background-color: #f08804;
    text-decoration: none;
}
footer {
    background-color: #0f1111;
    color: white;
}