body {
    margin: 0px;
    padding: 0px;
}
div {
    height: 100px;
    width: 100px;
    background-color: chocolate;
    border: 2px solid black;
    display: inline-block;
}
#box1 {
    position: static;
    top: 50px;
    background-color: red;
}
#box2 {
    position: relative;
    top: 20px;
    left: 10px;
    background-color: green;
}
#box3 {
    position: absolute;
    /* position: sticky; */
    top:500px; 
    left: 20px;
    background-color: aqua;
    z-index: 0;
}
#box4 {
    background-color: rgb(233, 179, 179);
    position: fixed;
    top: 50px;
    z-index: -1;
}